body{    
    font-family: 'Lato', sans-serif;
}
.texto-blanco{
    color:#F2F2F2;
}
.contenedor {width: 90%;
max-width: 1000px;
margin: 20px auto;
display: grid;
grid-gap: 70px;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(4, auto);
grid-template-areas: "header header header"
                     "contenido contenido sidebar" 
                     "widget-1 widget-2 sidebar"
                     "footer footer footer";


}

.contenedor > div, 
.contenedor .header, 
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
    background: #fff;
    padding: 20 px;
    border-radius: 8px;
    grid-template-rows: repeat(4, auto);


}

.contenedor .header {
    background: #0D0000;
    color: #fff;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-template-rows: repeat(4, auto);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  

}

.contenedor .contenido {
    background: #0D0000;
    color: #fff;
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: contenido;
    grid-template-rows: repeat(4, auto);
}

.contenedor .sidebar {
    grid-column: 3 / 4;
    background: #595959;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: span 2;
  
}

.contenedor .widget-1 {
    background: #8C8C8C;
    color: #fff;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  

}
.contenedor .widget-2 {
    background: #8C8C8C;
    color: #fff;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;


   
}

.contenedor .footer {
    background: #D9D9D7;
    color: #fff;
        text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: -1;

}

#trucazo {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "description image";
  }

  .hero-description {
    grid-area: description;
  }

  .hero-image {
    grid-area: image;
  }
  .hero-image img {
    inline-size: 500px;
    margin-top: -50px;
  }

  .pre-projects-content {
    max-inline-size: 900px;
    margin: auto;
  }

  .project {
    grid-template-areas: "description image";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3em;
  }
  .project-cta {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .project-cta button + button {
    margin: 0;
  }

  .testimony {
    margin: auto;
    padding: 5em;
    text-align: center;
  }
  .testimony-copy {
    font-size: 2.2em;
    line-height: 55px;
  }

  .testimony-title {
    font-size: 1.5em;
  }
  .project, .testimony {
    margin-block: 5em;
  }

  .form .tag span {
    display: block;
    text-align: center;
  }

}
}

@media screen and (max width: 768) {
    .contenedor {
 
    grid-template-areas: "header header header"
                          "contenido contenido contenido" 
                          "sidebar sidebar sidebar"  
                          "widget-1 widget-1 widget-2"
                          "footer footer footer";


}
                          